
.container {  
    display: grid;
    gap: 30px;
    grid-template-areas:
        "title"
        "pets" 
        "favorite-snacks"
        "hobbies"
        "pic";
  }


  body {
      background-color: black;
  }

  h2 {
      text-align: center;
  }

  p {
      text-align: center;
  }


  .triangle-left {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 50px solid purple;
	border-bottom: 25px solid transparent;

}


  .title { grid-area: title; 
    background-color:red;
    text-align: center;
    
    border: dashed lime;
  }


 
  .pets { grid-area: pets; 
    background-color: deeppink;
    border: dashed lime;
    border-radius: 40px;
 }

 .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
 .hobbies { grid-area: hobbies; 
    background-color: rgb(33, 253, 180);
    border: dashed lime;
    border-radius: 40px;
 }


 .favorite-snacks { grid-area: favorite-snacks; 
    background-color: rgb(8, 24, 249);
    border: dashed lime;
    border-radius: 15px;
 }

 .pic { grid-area: pic;
     background-color: yellow;
     border: dashed lime;
     border-radius: 15px;
 }






 
 /* medium device rules   */
  @media (min-width: 576px) {

    .container {  
        display: grid;
        gap: 30px;
        grid-template-areas:
            "title"
            "pets favorite-snacks"
            "hobbies pic";
      }
}     
 
  /* desktop device rules  */ 
 @media (min-width: 922px)  {
    .container {  
        display: grid;
        gap: 30px;
        grid-template-areas:
            ". title title title ."
            ". pets pets favorite-snacks ."
            ". hobbies hobbies pic .";
      }
        } 