body {
    text-align: center;
    background-image: url("backgroundpic.jpg");
    background-repeat: no-repeat;
    color: rgb(161, 221, 193);
   background-size:cover;
}



/* h1 {
    border-style: double;
    border-radius: 10px;
} */

.glow {
    font-size: 80px;
    color: white;
    text-align: center;
    animation: glow 2s ease-in-out infinite;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px, #57bc48, 0 0 40px #00e623, 0 0 50px #49ff01,;
    }
    
    to {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #57bc48, 0 0 40px #00e623, 0 0 50px #0bfe37, 0 0 80px #16ff1e;
    }
}


h3 {
    color:azure;
}

label {
    font-size: medium;
    color: rgb(205, 237, 198);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

label:hover {
    text-decoration: underline;
    background-color: rgb(116, 212, 135);
}


button {
    outline: 2px solid rgb(108, 76, 34);
    color: black;
    border: none;
    padding: 5px 5px;
    cursor: pointer;
    transition-duration: 0.4s;

}

button:hover {
    background-color: rgb(6, 124, 57);
    color: black;
}



 /* cell phone devices */
@media (max-width:600px) {
body {
    text-align: center;
    background-image: url("backgroundpic.jpg");
    background-repeat: no-repeat;
    color:whitesmoke ;
   background-size:cover;
}

h3 {
    color: azure;
}
} 

/* medium devices */
@media (min-width: 768px) {
    body {
        text-align: center;
        background-image: url("backgroundpic.jpg");
        background-repeat: no-repeat;
        color: whitesmoke;
        background-size:cover;
        background-position: center;
    }
}

/* desktop/laptops */
@media (min-width: 992px) {

    body {
    text-align: center;
    background-image: url("backgroundpic.jpg");
    background-repeat: no-repeat;
    color: whitesmoke;
    background-size:cover;
    background-position: center;
}
}


